.MainContainer{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(64, 88, 88);
    border-radius: 14px;
    justify-content: center;
}

.itemContainer{
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 180px;
    color: white;
    font-family: sans-serif;
}

.dropDown{
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    margin-top: -25px;
    display: none;
}
.dropDownContainer{
    list-style: none;
    padding: 10px;
    background-color: rgb(253, 245, 234);
}
li{
    padding: 8px;
}
.dropDownContainer2{
    display: flex;
    flex-direction: column;
}

#electroUl, #fashionUl, #consmaticUl, #dressUl, #brandUl{
    visibility: hidden;
}
#sample, #ELsample, #ELsample2, #ELsample3, #ELsample4, #Drsample1, #Drsample2, #Drsample3, #Drsample4, #Drsample5{
    display: none;
    margin: 0px 0px 0px 40px;
}

#Sksample1, #Sksample2, #Sksample3, #Sksample4, #fsample4, #fsample3, #fsample2{
    display: none;
    margin: 0px 0px 0px 40px;
}
