body{
    /* background-color: rgb(41, 36, 36); */
}
@keyframes myAnimation{
    0% {transform: translateX(0%);}
    25% {transform: translateX(100%);}
}
#navBar{
    /* background-color: rgb(73, 17, 17); */
    /* background-color: aliceblue; */
    background-color: rgb(94, 94, 194);
    height: 50px;
    width: 100%;
    border-radius: 15px;
    color: rgb(90, 14, 14);
}
#navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 20px;
}

.active{
    background-color: aliceblue;
    padding: 8px;
    border-radius: 14px;
}
.movieContainer{
    display: flex;
    flex-direction: column;
    margin: 12px 30px;
}
.movieWrapper{
    display: flex;
    flex-direction: column;
    animation-name: myAnimation;
    animation-duration: 2s;
}
.movieTitle{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: brown;
    
}
.movieImg{
    float: left;
    height: 400px;
    width: 500px;
    margin-right: 20px;
    border-radius: 20px;
}
.movieImgLeft{
    height: 400px;
    width: 500px;
    margin-left: 20px;
    float: right;
    border-radius: 20px;
}
.movieDescription{
    font-size: 25px;
    margin-left: 15px;
    font-family: cursive;
}
.movie{
    margin-bottom: 20px;
}

#ThrillerMovieContainer{
    display: none;
    animation-name: myAnimation;
    animation-duration: 2s;
}
#HorrorMovieContainer{
    display: none;
    animation-name: myAnimation;
    animation-duration: 2s;
}
#ComedyMovieContainer{
    display: none;
    animation-name: myAnimation;
    animation-duration: 2s;
}