/* 
.image-silderlayover{
    display: flex;
    justify-content: center;
}
.images-container{
    display: flex;
    flex-direction: row;
    gap: 2px;
    overflow: hidden;
    border: 4px solid white;
    height: 100%;
    width: 350px;
}
.image{
    height: 400px;
    width: 500px;
}
.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
    margin-top: 14px;
}
.PreBtn{
    padding: 4px 8px;
    background-color: rgb(137, 169, 197);
    border: none;
    border-radius: 6px;
} */

.image-silderlayover{
    width: 350px;
    height: 400px;
    margin: auto;
    border: 4px solid white;
    overflow: hidden;
}
.images-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.image{
    width: 350px;
    height: 400px;
    object-fit: cover;
    flex-shrink: 0;
    /* display: block; */
}
.btnContainer{
    display: flex;
    justify-content: center;
    gap: 225px;
    margin-top: 20px;
}
.PreBtn{
    padding: 8px 16px;
    background-color: rgb(137, 169, 197);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}